@use '../../_variables' as *;

:host {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.nx-icon-svg {
	transition:
		color 0.3s $ease-holographic,
		transform 0.3s $ease-holographic;
}
